<div class="box_l3_hp">
  <div class="link_box">
    <%= link_to "About", about_home_index_path, :style => "color:darkgray;" %> &#183;
    <%= link_to "Help", "http://support.eduposts.com/", :style => "color:darkgray;" %> &#183;
    <%= link_to "Terms", terms_of_service_home_index_path, :style => "color:darkgray;" %> &#183;
    <%= link_to "Privacy", privacy_policy_home_index_path, :style => "color:darkgray;" %> &#183;
    <%= link_to "Blog", "http://blog.eduposts.com", :style => "color:darkgray;",:target => "_blank" %>
    <br/>
    &#169; 2012 Eduposts
  </div>
</div>