<div class="span4">

  <div class="box_l1_ep">
    <% if current_user.role == 'student' %>
      <%= current_user.avatar.present? ? image_tag(current_user.avatar.url(:original), :class => "profile_pic img-rounded fifty_by_fifty") : image_tag("/assets/profile_pic_student.png", :class => "profile_pic img-rounded fifty_by_fifty") %>
    <% else %>
      <%= current_user.avatar.present? ? image_tag(current_user.avatar.url(:original), :class => "profile_pic img-rounded fifty_by_fifty") : image_tag("/assets/profile_pic_instructor.png", :class => "profile_pic img-rounded fifty_by_fifty") %>
    <% end %>
    <h3 class="profile_name"><%= current_user.fullname %></h3>
    <%= link_to "View my profile page", profile_path(:school_name => current_user.school_admin.school,:id =>current_user.id), :class => "view_my_profile_page" %>
  </div>

  <div class="box_l1_hp">
    <%= link_to "<button class='side_nav_button profile' type=button'>Profile<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, edit_profile_path(:school_name => current_user.school_admin.school,:id =>current_user.id) %>
    <%= link_to "<button class='side_nav_button password  active_button' type=button'>Password<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, edit_password_profiles_path(:school_name => current_user.school_admin.school) %>
  </div>

  <div class="box_l3_hp">
    <div class="link_box">
      &#169; &nbsp 2012 &nbsp Studygossip &nbsp More links go here
    </div>
  </div>
</div>

<div class="span8">
  <div class="box_r1_ep">
    <h2 class="posts_title">Profile</h2>
    <div class="profile_note">This information appears on your public profile, search results, and beyond.</div>
    <div class="edit_profile_right_column">
      <%= form_for current_user, :url => update_password_profiles_path do |f|  %>
        <table width="100%" cellpadding="10px" cellspacing="0px" border="0">
          <tr>
            <td>Current Password:</td>
            <td><%= f.password_field :current_password %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= validation_error(current_user.errors["current_password"]) %></td>
          </tr>
          <tr>
            <td>New Password:</td>
            <td>
              <%= f.password_field :password %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= validation_error(current_user.errors["password"]) %></td>
          </tr>
          <tr>
            <td>Verify Password</td>
            <td><%= f.password_field :password_confirmation %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= validation_error(current_user.errors["password_confirmation"]) %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "Save Changes", :class => 'btn btn-info'%> </td>
          </tr>
        </table>
      <% end %>

    </div>
  </div>
</div>