<h2 class="posts_title with_bottom_border">Important Questions</h2>
<div class="profile_note">Enter each question and answer on a separate line</div>
<%= form_tag class_faqs_path(:school_name=>@school_admin_id.id,:class_id=>@class_id) do |f| %>

  <% @faqs.each do |faq| %>
    <%= fields_for "faqs[#{faq.object_id}]", faq do |builder| %>
      <%= render 'faq_fields', f: builder %>
    <% end %>
  <% end %>

  <%= link_to_add_faq("Add MoreFaqs",Faq,"faq_fields","faqs") %>

  <%= submit_tag %>
<% end %>

<script>
  $('.add_fields').click(function(event) {
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    event.preventDefault();
  });
</script>
<style>
  input, textarea, .uneditable-input {
    margin-left: 325px;
  }
</style>