<%= form_for :user, :url => teacher_upload_csv_school_upload_csvs_path(@school), :html => {:multipart => true}, :remote => true do |f| %>
  <table>
    <tr>
      <td><%= f.label :csv, "Select csv file" %></td>
      <td><%= f.file_field :csv %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "Upload" %></td>
    </tr>
  </table>
<% end %>
<span style="float: right;"><%= link_to "Download CSV file",""  %></span>
