<h4>Students</h4>
<% if @students.present? %>
  <table class="table table-striped" style="background:white;">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>User Name</th>
      <th>Status</th>
      <th>Role</th>
      <th>Class Name</th>
      <th>Actions</th>
    </tr>
    <% for school in @students %>
      <tr style="text-align: center;">
        <td><%= school.first_name %></td>
        <td><%= school.last_name %></td>
        <% if school.reset_password_token == nil %>
          <td>
            <%= link_to school.email, school_student_path(@school, school) %>
          </td>
        <% else %>
          <td><%= school.email %></td>
        <% end %>
        <% if school.username.present? %>
          <td><%= school.username.split("@").last %></td>
        <% else %>
          <td></td>
        <% end %>
        <td>
          <% if school.reset_password_token == nil %>
            Joined
          <% else %>
            Invitation Sent
          <% end %>
        </td>
        <td><%= school.role %></td>
        <td><%= link_to school.studentclasses.first ? school.studentclasses.first.cls.class_name : "Nil", display_class_school_student_path(@school,school,:class_id =>school.studentclasses.first ? school.studentclasses.first.cls.id : '')%></td>
        <td>
        <%#= link_to "ContactParent", new_school_parent_path(@school), :class => "btn btn-primary"%>
        <% @parentuser = Parentuser.find_by_user_id(school.id) %>
        <% if  @parentuser.blank? %>
                <%= link_to 'ContactParent', "#",:onclick => "parent()", :class => "btn btn-primary"%>
        <% else %>
        <p>Assigend the Parent</p>
        <% end %>
          <% if school.reset_password_token == nil %>
            <%= link_to "View Posts", posts_school_student_path(@school, school),:class=>"btn btn-primary"%> |
          <% end %>
          <%= link_to "Delete", student_path(school), :remote => true, :method => :delete, :class=>"btn btn-danger",:confirm => "Are You Sure?" %> 
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <span style="color: red;font-size: 15px;left: 120px;position: relative;top: -31px;">No Users.</span>
<% end %>
<%= link_to "Back to Dashboard",school_path(@school),:class=>"btn btn-default" %>

<style>
  .btn-danger:hover{
    color:white;
  }
  .btn-primary:hover{
    color:white;
  }
  .btn-success:hover{
    color:white;
  }

  .table td  {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: center;
    vertical-align: top;
  }
  .table th{
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: center;
    vertical-align: top;
  }
</style>

<div class="modal fade" id="new_person_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Send Invitation To Parent</h4>
      </div>
      <div class="modal-body">
     <%= render :partial => "/parents/new" %>


      </div>

     
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>

  function parent(){
    $("#new_person_modal").modal();
  }

  $("#commentForm").validate();
</script>









