<div id="Tweet-summary" style="float: left;left: 400px;position: absolute;top: 52px;width: 35%;">
  <div id="title">Send Invitation To Student</div><br />
  <%= form_for(@student, :url => school_students_path(@school),:html => {:id => "commentForm"}) do |f| %>
    <table>
      <tr>
        <td valign="top">First Name:</td>
        <td><%= f.text_field :first_name, :class => 'required', :id => "cfame"%></td>
      </tr>
      <tr>
        <td valign="top">Last Name:</td>
        <td><%= f.text_field :last_name, :class => 'required', :id => "clame"%></td>
      </tr>
      <tr>
        <td valign="top">Email:</td>
        <td><%= f.text_field :email, :class => 'text required email', :id => "inputEmail" %></td>
        <td><%= validation_error(@student.errors["email"])%></td>
      </tr>
      <tr>
        <td valign="top">Class Name:</td>
        <td><%= select_tag :class_id,  options_for_select([["Select", ""]] + Cls.where("school_admin_id = #{current_school_admin.id}").map{|ic| [ic.class_name,ic.id]}) %></td>
      </tr>

<!--     <td valign="top">Parent Name:</td> -->
        <!-- <td><%#= f.select :parent_id,  options_for_select([["Select", ""]] + Parent.where("school_admin_id = #{current_school_admin.id}").map{|ic| [ic.first_name,ic.id]}) %></td> -->



      <tr>
        <td></td>
        <td><%= f.submit "Send Invitation", :class => 'btn'%></td>
      </tr>
    </table>
  <% end %>
  <span style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(OR)</span>
  <div>
    <h3>Send Invitation To Student</h3>
    <%= render :partial => "upload_csvs/upload_csv" %>
  </div>
</div>
<script>
  $("#commentForm").validate();
</script>
