<div class="faq_box">
  <%= hidden_field_tag "subject_id", @subject_id %>
  <%= hidden_field_tag "user_id", @user_id %>
  <%= f.text_field :title, :placeholder => "Title", :class => "faqs_box single_line for_readings" %>
  <div class="btn paperclip" id="file_browse_wrapper"><%= image_tag("/assets/paperclip.png", :width => '15px;', :height => '20px;')%>
    <%= f.file_field :link_document, :id => "file_browse" %>
  </div>
  <%= f.text_area :links, :rows => 3, :placeholder => "Links", :class => "faqs_box for_readings" %>
  <div class="delete_link"><%= link_to_remove_fields image_tag("delete_post.png",:style=>"background: none repeat scroll 0 0 black;"), f %></div>
  <br/>
</div>