<!DOCTYPE html>
<html>
  <head>
    <title>Studygossips</title>
    <link rel="shortcut icon" href="/assets/favicon.png" />
    <%= stylesheet_link_tag "/assets/bootstrap_files/bootstrap" %>
    <%= javascript_include_tag "application" %>
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body class="meshed_background">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                  <li class="active"><%= link_to image_tag("/assets/home_icon_blue.png", :class => "nav_icon", :height => "30px", :width => "20px")+'Home', root_path  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="main">
  <div class="row">
    <div class="span10">
      <div class="sign_up_content">
        <h3><b>Payment History</b></h3>
          <div class="col-sm-6">
            <b>Total Amount to Pay is: <%= @payment.payment_amount %></b>
          </div>
          <br/>
          <% @params = {'sid' => SID, 'mode' => '2CO', 'merchant_order_id' => @payment.merchant_order_id} %>
              <% @params['li_0_price'] = @payment.payment_amount %>
          <% @form = Twocheckout::Checkout.form(@params, "Checkout your payment") %>
          <%p @form %>
          <%= @form.html_safe %>
      </div><!--/span5-->
    </div>
  </div>
</div>
</body>
</html>

<style>
  input[type=submit] { 
    cursor:pointer;
    -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #ed174f;
        border-color: -moz-use-text-color -moz-use-text-color #d51245;
        border-image: none;
        border-radius: 2px;
        border-style: none none solid;
        border-width: medium medium 2px;
        color: #fff;
        font-family: "RobotoRegular";
        font-size: 12px;
        padding: 8px 18px 5px;
        text-shadow: 0 0 0 #fff;
  }

  input[type=submit]:hover {
    background-color: green;
  }
</style>