<article>
  <div class="container">
   <h1><span>Why Join Study Gossip</span></h1>
    <div class="row">
      <div class="box-join-learn">
        <div class="box-save-time col-xs-4 col-sm-4 col-md-4 col-lg-4 hide480"> <span class="icon-save"></span>
          <h2>Save Time</h2>
          <p>Learning and Sharing using our platform is a quick and efficient way. you can have all your questions answered by friends and teachers, Quickly refer and post your queries to teachers and classmates </p>
        </div>
        <div class="box-save-time col-xs-4 col-sm-4 col-md-4 col-lg-4"> <span class="icon-earn icon-save"></span>
          <h2>Earn Medals</h2>
          <p>The more you share the more you learn is a revolutionary approach making you ahead of others. you earn medals based on quality and quantity of posts and replies you make within your group. </p>
        </div>
        <div class="box-save-time col-xs-4 col-sm-4 col-md-4 col-lg-4"> <span class="icon-collabrate icon-save"></span>
          <h2>Collaborate</h2>
          <p> See what your classmates are talking about and be a part of the discussion. Take challenges and solve problems. The more you collaborate better you learn and grow. Learn & Share with Fun.</p>
        </div>
      </div>
    </div>
    <p><a href="#" title="Check out more" class="plenty_more">We've got plenty more to say,check out more</a></p>
    <div class="clearF"></div>
  </div>
  <div class="bg-communication">
    <div class="container">
      <div class="row">
        <div id="communication-id"></div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <h3>Communication<br/>
            Platform</h3>
          <p>
Study Gossip is a revolutionary social communication platform aiming to bring the entire educational institution online and make learning fun, easy and effective.</p>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 alCent"><%= image_tag("/assets/image-new/img-communication.png",:alt => "") %></div>
      </div>
      <div class="clearF"></div>
    </div>
  </div>
  <div class="bg-white">
    <div class="container">
      <div class="row">
        <div id="collage-id"></div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 img-spacing"><%= image_tag("/assets/image-new/img-collage.png", :alt => "", :title => "") %>  </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 alRight">
          <h3>College <span>Management</span></h3>
          <p>With our platform now its more effective and easy to manage various aspects collage by giving a dedicated admin panel to manage staff, students, classes, courses and much more</p>
        </div>
      </div>
      <div class="clearF"></div>
    </div>
  </div>
  <div class="bg-communication">
    <div class="container">
      <div class="row">
        <div id="track-id"></div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <h3>Track <span>Participation</span> </h3>
          <p>Now its more easy to track active and inactive student and take required measures, we can see student/teacher participation graphs to see performance.</p>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 track-spacing"><%= image_tag("/assets/image-new/img-track.png",:alt => "",:title => " ") %></div>
      </div>
      <div class="clearF"></div>
    </div>
  </div>
  <div class="bg-white">
    <div class="container">
      <div class="row">
        <div id="share-id"></div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7"><%= image_tag("/assets/image-new/img-share.png", :alt => "", :title => "") %>  </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 alRight">
          <h3>Share <span>with Parents</span></h3>
           <p>
With a single click now the entire score card and attendance can be share with parents making it much easier for parents to see the performance of their students.</p>
        </div>
      </div>
      <div class="clearF"></div>
    </div>
  </div>
  <div class="bg-communication">
    <div class="container">
      <div class="row">
        <div id="attendence-id"></div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          
          <h3> Attendance &amp; Scorecard</h3>
          <p>Now teachers can use the interface to upload and track student's performance. complete history is available to download and view on just a click of button</p>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 img-attendance">
          <%= image_tag("/assets/image-new/img-attendance.png", :alt => " ", :title => "") %></div>
      </div>
      <div class="clearF"></div>
    </div>
  </div>
  <div class="container">
    <p id="back-top" class="pulse"><a title="back to top" href="#top"></a></p>
    <div class="box-contactus">
      <h1><span>Get in Touch</span></h1>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        
          <p class="text-alwaysSpacing">We always look forward to meet new awesome people and discuss brilliant project ideas. Come visit us! We have a great place to sit.</p>
          <p><a href="mailto:mediacloudservices@gmail.com" class="blue-color" title="mediacloudservices@gmail.com">mediacloudservices@gmail.com</a></p>
          <p class="gray-color">270/2/21 SIR MV road Bommanhalli</p>
          <p class="gray-color"> Bangalore, India 560068</p>
        
          
 
          
          
          <ul class="list-social-icon">
            <li class="icon-facebook"><a href="https://www.facebook.com/DineMediaInteractive" title="facebook"></a></li>
            <li class="icon-linkedin"><a href="http://www.linkedin.com/company/dine-media-interactive" title="linkedin"></a></li>
          </ul>
        </div>
       
        <div id="contact_us">
          <%= render :partial => "contact" %>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
        
        <div id="privacy">
          <h1><span>Privacy Policy</span></h1>
          <p>This Privacy policy is subject to the terms of the Site Policy (User agreement) of <a href="http://studygossip.com/" class="blue-color">studygossip.com </a>. </p>

<p>This policy is effective from the date and time a user registers with <a href="http://studygossip.com/" class="blue-color">studygossip.com </a>by either filling up the Registration form or accepting the terms and conditions laid out in the Site Policy also mentioned on the payment page as a link. The user cant make the payment unless he accepts the studygossip t@c and other policies 
</p>
<p>
In order to provide a spam free reliable and customized browsing experience,<a href="http://studygossip.com/" class="blue-color">studygossip.com </a> may collect personal information from you. Additionally some of our websites may require you to complete a registration form or seek some information from you. When you let us have your preferences, we will be able to deliver or allow you to access the most relevant information that meets your end. </p>
<p>
To extend this personalized experience <a href="http://studygossip.com/" class="blue-color">studygossip.com </a> may track the IP address of a user's computer and save certain information on your system in the form of cookies. A user has the option of accepting or declining the cookies of this website by changing the settings of your browser. The personal information provided by the users to <a href="http://studygossip.com/" class="blue-color">studygossip.com </a> will not be provided to anyone in any conditions, its collected to provide you with supreme browsing experience. </p>
<h2 style="text-align:center">No Refund and No Cancellation once Sold</h2>
        </div>

 <div id="pricing">
          <h1><span>Pricing </span></h1>
          <h2><span>For individuals </span></h2>
          <p>If you are an individual and want </p>

<p> to collaborate with your friends and teachers you </p>
<p> can have the solution starting with 50 USD a month  per user. </p><br/>

<%= link_to "Enquiry", enquiry_path, :class => " btn-info btn-signup" %>
 
<br><br><br>
          <h2>For educational institutions  </h2>
          <p>If you are an educational institution and want </p>

<p>  to manage your institution effortlessly and make sure collaboration is seamless with all student , teacher and admin modules working in perfect integration. Please sign up for a free demo and if you like it we shall configure your institution on-line so that you start functioning smoothly. There will be a setup fee of 999 USD one time and a flat 50 USD fee per month per user. </p>
        </div>

        <!--Payment SEction-->
        <div id="payments">
            <h1><span>Payments</span></h1>   
            <%= render 'individual_payment' %>
        </div>      
      </div>
    </div>
  </div>
</article>



<style>

.btn-signup {
   
    padding: 10px 19px;
}
.btn-signup:hover {
   
    text-decoration: none;
}

</style>