<div class="span4">

  <div class="box_l1_ep">
    <% if @user.role == 'student' %>
      <%= @user.class_photo.present? ? image_tag(@user.class_photo.url(:original),:height => '50px', :width => '50px' , :class => "profile_pic img-rounded") : image_tag("/assets/profile_pic_student.png",:height => '50px', :width => '50px' , :class => "profile_pic img-rounded") %>
    <% else %>
      <%= @user.class_photo.present? ? image_tag(@user.class_photo.url(:original),:height => '50px', :width => '50px' , :class => "profile_pic img-rounded") : image_tag("/assets/profile_pic_instructor.png",:height => '50px', :width => '50px' , :class => "profile_pic img-rounded") %>
    <% end %>
    <h3 class="profile_name"><%= @user.class_name.present? ? @user.class_name : "Class" %></h3>
    <%= link_to "View my profile page", profile_path(:school_name => current_user.school_admin.school,:id =>@user.id), :class => "view_my_profile_page" %>
  </div>


  <div class="box_l1_hp">
    <%= link_to "<button class='side_nav_button profile' type=button'>Class<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe %>
    <%= link_to "<button class='side_nav_button posts for_notifications active_button' type=button'>Roster<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, roster_class_path(:school_name => current_user.school_admin.school,:id =>@user.id) %>
    <%= link_to "<button class='side_nav_button posts for_notifications' type=button'>Invite Students<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, invite_students_class_path(:school_name => current_user.school_admin.school,:id =>@user.id) %>
    <%= link_to "<button class='side_nav_button posts for_notifications' type=button'>FAQ's<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, class_faqs_path(:school_name => current_user.school_admin.school,:class_id =>@user.id) %>
    <%= link_to "<button class='side_nav_button posts for_notifications' type=button'>Readings<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, class_readings_path(:school_name => current_user.school_admin.school,:class_id =>@user.id) %>
    <%= link_to "<button class='side_nav_button password' type=button'>Important Links<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, class_importent_links_path(:school_name => current_user.school_admin.school,:class_id =>@user.id) %>
  </div>

  <%= render :partial => 'profiles/links' %>
</div>


<div class="span8" id="posts" style="min-height: 750px;">
  <h2 class="posts_title">
    Roster
  </h2>
  <div class="posts_box first">
    <% for student in @users %>
      <div class="posts_box" id="student_<%= student.id %>" style="min-height: 100px;">
        <%= student.avatar.present? ? image_tag(student.avatar.url(:original) , :width => '50px;', :height => '50px;', :class => "profile_pic img-rounded") : image_tag("/assets/profile_pic_student.png",:width => '50px;',:height => '50px;' , :class => "profile_pic img-rounded") %>
        <div class="search_result_people_name"><%= link_to student.fullname, profile_path(:school_name => current_user.school_admin.school,:id =>student.id)%></div>
        <p class="search_result_people_at_name"><%= student.username %></p>
        <%= link_to "Analytics", graphs_class_path(student.school_admin.school,student), :style => 'display:none;float: right;position: relative;',:class => 'btn', :id => "ana_#{student.id}", :remote => true  %>
        <span id="chart_<%= student.id %>" style="float: left;left: 9px;position: relative;width: 850px;top: 4px;">
        </span>
      </div>
      <script>
        $("#student_<%= student.id %>").hover(function(){
          $("#ana_<%= student.id %>").show();
        })
      </script>
    <% end %>
  </div>
</div>
