<div class="span12">

  <div class="box_c1_mp extended">

    <div class="cover_photo" style= "background-image : url(<%= @user.class_theme.present? ? @user.class_theme : '/assets/cover_photo.jpg'%>)">
      <% if @user.id == current_user.id %>
        <div class="cover_photo_button" style="float: right;margin-right: 18px;margin-top: 125px;"><a href="javascript:changeclassBGImage('<%= current_user.school_admin.school %>',0,<%= current_user.id %>)">switch theme</a></div>
      <% end %>
    </div>


    <div class="profile_box_right with_options">
      <% if current_user.role == 'student' %>
        <div class="btn-group other_profile_options_button">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <%= image_tag("/assets/dude.png", :width => '15px;', :height => '20px;') %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Post to <%= @user.username %></a></li>
          </ul>
        </div>

        <div class="roster_num">Classmates</div>
      <% end %>
    </div>
    <%= class_profile_picture %>
    <h2 class="profile_name"><%= @subject.subject_name %></h2>
    <br/>
    <p class="bio" style="width: 800px;"><%= @user.class_description.present? ? @user.class_description : " " %></p>
  </div>


  <div class="row-fluid">

    <div class="span4">

      <div class="box_l1_hp side_nav_box">
<%#= link_to "<button class='side_nav_button class active_button' type=button'>Posts<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, class_path(:school_name => current_user.school_admin.school,:id =>@user.id) %>
        <%= link_to "<button class='side_nav_button announcements' type=button'>Announcements<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, student_subject_posts_class_teachertweets_path(:school_name => current_user.school_admin.school,:class_id =>@subject.cls.id,:subject_id=>@subject.id,:post => "announcement"), :remote => true, :onclick => 'graph_id(this)' %>
        <%= link_to "<button class='side_nav_button assignments' type=button'>Assignments<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, student_subject_posts_class_teachertweets_path(:school_name => current_user.school_admin.school,:class_id =>@subject.cls.id,:subject_id=>@subject.id,:post => "assignment"), :remote => true, :onclick => 'graph_id(this)' %>
<%#= link_to "<button class='side_nav_button posts for_notifications' type=button'>Roster<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, roster_class_path(:school_name => current_user.school_admin.school,:id =>@user.id) %>
        <%= link_to "<button class='side_nav_button posts for_notifications' type=button'>FAQ's<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, student_subject_faqs_class_faqs_path(:school_name => current_user.school_admin.school,:class_id =>@subject.cls.id,:subject_id=>@subject.id),:remote=>true, :onclick => 'graph_id(this)' %>
        <%= link_to "<button class='side_nav_button posts for_notifications' type=button'>Readings<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, student_subject_readings_class_readings_path(:school_name => current_user.school_admin.school,:class_id =>@subject.cls.id,:subject_id=>@subject.id),:remote=>true, :onclick => 'graph_id(this)' %>
        <%= link_to "<button class='side_nav_button password' type=button'>Important Links<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, student_subject_links_class_importent_links_path(:school_name => current_user.school_admin.school,:class_id =>@subject.cls.id,:subject_id=>@subject.id),:remote=>true, :onclick => 'graph_id(this)' %>
        <%= link_to "<button class='side_nav_button password' type=button'>Mark Reports<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, student_subject_marks_class_markreports_path(:school_name => current_user.school_admin.school,:class_id =>@subject.cls.id,:subject_id=>@subject.id),:remote=>true, :onclick => 'graph_id(this)' %>
      </div>

      <div class="box_l2_hp">
        <div class="instructor_header">Instructor</div>
        <% if @user.role == 'student' %>
          <%= @user.avatar.present? ? image_tag(@user.avatar.url(:original) , :width => '50px;', :height => '50px;', :class => "profile_pic img-rounded fifty_by_fifty") : image_tag("/assets/profile_pic_student.png",:width => '50px;',:height => '50px;' , :class => "profile_pic img-rounded fifty_by_fifty")%>
        <% else %>
          <%= @user.avatar.present? ? image_tag(@user.avatar.url(:original) , :width => '50px;', :height => '50px;', :class => "profile_pic img-rounded fifty_by_fifty") : image_tag("/assets/profile_pic_instructor.png",:width => '50px;',:height => '50px;' , :class => "profile_pic img-rounded fifty_by_fifty")%>
        <% end %>
        <div class="instructor_name"><%= link_to @user.fullname, profile_path(:school_name => current_user.school_admin.school,:id =>@user.id) %></div>
        <p class="instructor_at_name">&nbsp<%= @user.username %></p>
      </div>

      <!---<div class="box_l2_hp">
        <div class="assistant_header">Assistant</div>
        <img class="profile_pic img-rounded" src="/assets/profile_placeholder.png" height="50px" width="50px"/>
        <div class="assistant_name"><a href="#">T/A Todd</a></div>
        <p class="assistant_at_name">&nbsp@TATodd</p>
      </div>-->

      <%= render :partial => 'profiles/links' %>

    </div>

    <div class="span8" id="posts">
      jasfdjak
    </div>
  </div>
</div>