<div id="Tweet-summary" style="float: left;left: 400px;position: absolute;top: 52px;width: 35%;">
  <div id="title">Send Invitation To Parent</div><br />
  <%= form_for(@parent, :url => school_parents_path(@school),:html => {:id => "commentForm"}) do |f| %>
    <table>
      <tr>
        <td valign="top">First Name:</td>
        <td><%= f.text_field :first_name, :class => 'required', :id => "cfame"%></td>
      </tr>
      <tr>
        <td valign="top">Last Name:</td>
        <td><%= f.text_field :last_name, :class => 'required', :id => "clame"%></td>
      </tr>
      <tr>
        <td valign="top">Email:</td>
        <td><%= f.text_field :email, :class => 'text required email', :id => "inputEmail" %></td>
        <td><%= validation_error(@parent.errors["email"])%></td>
      </tr>
      <tr>
     <td valign="top">Student Name:</td> 
        <td><%#= select_tag :user_id,  options_for_select([["Select", ""]] + User.where("school_admin_id = #{current_school_admin.id}", "role = #{"student"} ").map{|ic| [ic.first_name,ic.id]}) %>
         <%#= select_tag :user_id,  options_for_select([["Select", ""]] + User.where(role: "student").map{|ic| [ic.first_name,ic.id]}) %>
         <%= hidden_field_tag :user_id %></td>
         
               

      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Send Invitation", :class => 'btn'%></td>
      </tr>
    </table>
  <% end %>
  
</div>
<script>
  $("#commentForm").validate();
</script>
