<div id="conversation_sidebar_wrapper">
  <%= render :partial => '/profiles/all_conversation' %>
  <div class="conversation_post_input_box" style="height: auto;padding-bottom: 25px;">
    <%= form_for @post, :url => reply_post_user_post_path(@post),:html => {:multipart => true, :method => 'POST'},:remote => true do |f| %>
      <% if current_user.role == 'student' %>
        <%= current_user.avatar.present? ? image_tag(current_user.avatar.url(:original), :class => 'conversation_post_pic_small thirty_by_thirty') : image_tag("/assets/profile_pic_student.png", :class => 'conversation_post_pic_small thirty_by_thirty')%>
      <% else %>
        <%= current_user.avatar.present? ? image_tag(current_user.avatar.url(:original), :class => 'conversation_post_pic_small thirty_by_thirty') : image_tag("/assets/profile_pic_instructor.png", :class => 'conversation_post_pic_small thirty_by_thirty')%>
      <% end %>
      <%=  f.text_area :body,:value => "#{params[:action] == "reply_post" ? '':@post.user.username+ " "}",:class=>"compose_new_post",:rows => 1,:style => 'resize:none;margin-right: 20px;width: 80%;padding:0px;background-color:#f5f5f5;' %>
      <div style="width:100%">
        <div style="width:49%; float: left;">
          <div class="input-container btn attachment" id="file_browse_wrapper" style="height: 22px;left: 45px;position: relative;width: 20px;display: none;margin-top: 0px;"><%= image_tag("/assets/paperclip.png", :width => '15px;', :height => '20px;')%>
            <%= f.file_field :document, :id => "file_browse", :onChange => 'readURL(this)' %>
          </div>
          <img id="PreviewImage1" style="height: 16px;top: 4px;width: 20px;display: none;" />
        </div>
        <div style="width:13%;float: left;">
          <%= f.submit 'Post', :id => 'post1',:class =>'btn', :style => 'display: none;left: 132px;position: relative;'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  jQuery(function($){
  });
  $(document).ready(function()
  {
    var mouse_in_side = false;
    $("#tweet_body").focus(function()
    {
      $(this).animate({"height": "100px"}, "fast" );
      $("#button_bar").show();
      $("#file_browse_wrapper").show();
      $("#post1").css('display', 'block');
      mouse_in_side = true;
      return false;
    });
  });
</script>
